{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
    <p>Johanna Johansson</p>

        {{ content }}
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
